# .gitignore
# Python cache
__pycache__/
*.pyc
# Virtual environment
backend/venv/
backend/macvenv/
# VSCode settings
.vscode/
# IDE metadata
.idea/
# OS files
.DS_Store

# Ignore node_modules if any frontend packages
frontend/node_modules/
